In [1]:
%load_ext autoreload
%autoreload
%matplotlib inline

from news_crawler import NewsCrawler, select_urls
from IPython.display import display
from IPython.core.debugger import set_trace

In [2]:
crawler = NewsCrawler()

# 1. URL을 모은다

In [6]:
# 제거고려: nextbigfuture, nbcnews, joongang, chosun

In [19]:
collect_result = crawler.collect(); display(*collect_result)

100.00% (122.04 seconds): Collecting URLs... yahoo

100.00% (2.80 seconds): Selecting URLs... cryptonews

                      collected  collected_unique  selected
all                       25876             25876      1140
reuters                    1145              1145       169
investing.com               955               955       107
euronews                    965               965        72
dailymail                  2730              2730        71
...                         ...               ...       ...
nextbigfuture                32                32         0
vice                        101               101         0
nationalreview              731               731         0
americanconservative        162               162         0
arstechnica                 209               209         0

[74 rows x 3 columns]

,url,pubs,actual_pub
0,https://politico.com/news/2019/10/15/trump-con...,"politico, realclearpolitics",politico
1,https://politico.com/news/2019/10/13/joe-biden...,"politico, realclearpolitics",politico
2,https://politico.com/magazine/story/2019/10/15...,"politico, realclearpolitics",politico
3,https://politico.com/news/2019/10/16/elizabeth...,"politico, realclearpolitics",politico
4,https://cnbc.com/2019/10/16/netflix-q3-2019-ea...,"cnbc, axios",cnbc
...,...,...,...
72,https://nbcnews.com/news/sports/boxer-patrick-...,"msnbc, nbcnews",nbcnews
73,https://nbcnews.com/think/why-is-this-happenin...,"msnbc, nbcnews",nbcnews
74,https://nbcnews.com/storyline/brexit-referendu...,"msnbc, nbcnews",nbcnews
75,https://nbcnews.com/news/us-news/warrior-iconi...,"msnbc, nbcnews",nbcnews
76,https://nbcnews.com/politics/politics-news/rep...,"msnbc, nbcnews",nbcnews

# 2. 해당 URL의 뉴스를 다운로드한다

In [20]:
download_result = crawler.download(); download_result

100.00% (563.86 seconds): Downloading... yahoo

                      downloaded  trashed  total
all                          650      490   1140
reuters                       74       95    169
investing.com                 43       64    107
euronews                       7       65     72
dailymail                     58       13     71
...                          ...      ...    ...
nextbigfuture                  0        0      0
vice                           0        0      0
nationalreview                 0        0      0
americanconservative           0        0      0
arstechnica                    0        0      0

[74 rows x 3 columns]

In [16]:
2000000/5000 * 255 / 1024

99.609375

In [18]:
8*30

240