In [1]:
%load_ext autoreload
%autoreload
%matplotlib inline

from news_crawler import NewsCrawler
from IPython.display import display
from IPython.core.debugger import set_trace

# 0. 초기화

In [2]:
crawler = NewsCrawler(storage='bigquery')

checking bigquery storage... done (27.33 seconds)
we have total 328993 articles (304188 downloaded, 24805 trashed)

# 1. URL을 모은다

In [3]:
# 제거고려: nextbigfuture, nbcnews, joongang, chosun

In [4]:
collect_result = crawler.collect(); display(*collect_result)

100.00% (86.46 seconds): Collecting URLs... yahoo

100.00% (0.11 seconds): Selecting URLs... cryptonews

               collected  collected_unique  selected
all                24778             24703       526
reuters             1123              1123       103
investing.com        945               945        77
yahoo                385               385        47
dailymail           2818              2818        39
...                  ...               ...       ...
nytimes               96                96         0
msnbc                144               108         0
vice                 105               105         0
wsj                  108               108         0
cryptonews           326               326         0

[74 rows x 3 columns]

,url,pubs,actual_pub
0,https://politico.com/magazine/story/2019/10/23...,"politico, realclearpolitics",politico
1,https://politico.com/news/2019/10/30/pete-butt...,"politico, realclearpolitics",politico
2,https://politico.com/magazine/story/2019/10/23...,"politico, realclearpolitics",politico
3,https://politico.com/magazine/story/2019/10/21...,"politico, realclearpolitics",politico
4,https://cnbc.com/2019/10/30/chile-president-ca...,"cnbc, realclearpolitics",cnbc
...,...,...,...
70,https://nbcnews.com/health/health-news/fecal-t...,"msnbc, nbcnews",nbcnews
71,https://nbcnews.com/news/us-news/former-nba-pl...,"msnbc, nbcnews",nbcnews
72,https://nbcnews.com/news/sports/washington-nat...,"msnbc, nbcnews",nbcnews
73,https://nbcnews.com/nightly-news/video/white-h...,"msnbc, nbcnews",nbcnews
74,https://usatoday.com/story/news/politics/elect...,"nationalreview, usatoday",usatoday

# 2. 해당 URL의 뉴스를 크롤링한다

In [5]:
crawl_result = crawler.crawl(); crawl_result

100.00% (158.50 seconds): Crawling... yahoo

                collect                                crawl
              collected collected_unique selected downloaded trashed total
all               24778            24703      526        284     242   526
reuters            1123             1123      103         42      61   103
investing.com       945              945       77         18      59    77
yahoo               385              385       47         36      11    47
dailymail          2818             2818       39         37       2    39
...                 ...              ...      ...        ...     ...   ...
nytimes              96               96        0          0       0     0
msnbc               144              108        0          0       0     0
vice                105              105        0          0       0     0
wsj                 108              108        0          0       0     0
cryptonews          326              326        0          0       0     0

[74 rows x 6 columns]

# 3. 뉴스를 저장한다

In [6]:
crawler.record()

Recording to bigquery storage... done (15.67 seconds)

# 4. 결과보고

In [7]:
crawler.report()

In [66]:
from pathlib import Path
downloaded = [p.stem for p in Path('newsdata/downloaded').glob('**/*.json')]
trashed = [p.stem for p in Path('newsdata/trashed').glob('**/*.json')]

In [65]:
for path in list(Path('newsdata/downloaded').glob('**/*.json'))[:10000]:
    path.unlink()