In [77]:
%load_ext autoreload
%autoreload
%matplotlib inline

from news_crawler import NewsCrawler
from IPython.display import display
from IPython.core.debugger import set_trace

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 0. 초기화

In [81]:
crawler = NewsCrawler(storage='local')

checking local storage... done
we have total 313975 articles (294434 downloaded, 19541 trashed)

# 1. URL을 모은다

In [73]:
# 제거고려: nextbigfuture, nbcnews, joongang, chosun

In [79]:
collect_result = crawler.collect(); display(*collect_result)

100.00% (119.99 seconds): Collecting URLs... yahoo

100.00% (0.12 seconds): Selecting URLs... cryptonews

               collected  collected_unique  selected
all                25949             25869       399
reuters             1108              1108        51
yahoo                364               364        38
dailymail           2670              2670        36
investing.com        934               934        26
...                  ...               ...       ...
dailybeast            50                49         0
thinkprogress         82                82         0
heritage             284               284         0
vice                 105               105         0
cryptonews           327               327         0

[74 rows x 3 columns]

,url,pubs,actual_pub
0,https://politico.com/news/2019/10/28/sessions-...,"politico, realclearpolitics",politico
1,https://politico.com/magazine/story/2019/10/23...,"politico, realclearpolitics",politico
2,https://politico.com/magazine/story/2019/10/21...,"politico, realclearpolitics",politico
3,https://politico.com/magazine/story/2019/10/23...,"politico, realclearpolitics",politico
4,https://cnbc.com/2019/10/29/uk-election-polls-...,"cnbc, nationalreview",cnbc
...,...,...,...
73,https://nbcnews.com/politics/trump-impeachment...,"msnbc, nbcnews",nbcnews
74,https://nbcnews.com/think/opinion/california-f...,"msnbc, nbcnews",nbcnews
75,https://nbcnews.com/news/latino/border-apprehe...,"msnbc, nbcnews",nbcnews
76,https://nbcnews.com/news/us-news/following-chi...,"msnbc, nbcnews",nbcnews
77,https://cointelegraph.com/news/coinlist-launch...,"thenextweb, cointelegraph",cointelegraph

# 2. 해당 URL의 뉴스를 크롤링한다

In [80]:
crawl_result = crawler.crawl(); crawl_result

35.34% (32.03 seconds): Crawling... washingtonpost

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

100.00% (315.74 seconds): Crawling... yahoo

Recording to local storage... done

                collect                                crawl
              collected collected_unique selected downloaded trashed total
all               25949            25869      399        246     153   399
reuters            1108             1108       51         25      26    51
yahoo               364              364       38         30       8    38
dailymail          2670             2670       36         28       8    36
investing.com       934              934       26          8      18    26
...                 ...              ...      ...        ...     ...   ...
dailybeast           50               49        0          0       0     0
thinkprogress        82               82        0          0       0     0
heritage            284              284        0          0       0     0
vice                105              105        0          0       0     0
cryptonews          327              327        0          0       0     0

[74 rows x 6 columns]

Bigquery와 local 뉴스 갯수가 다를 것이다. Bigquery에 뉴스를 모두 업데이트 한 후 해당 repository에 문제가 생겨서, github에서 전일기준 데이터를 clone하여, 뉴스를 다시 다운로드 받은 날이 있다. 2019-10-22

In [63]:
from pathlib import Path
downloaded = [p.stem for p in Path('newsdata/downloaded').glob('**/*.json')]
trashed = [p.stem for p in Path('newsdata/trashed').glob('**/*.json')]

In [64]:
len(downloaded), len(trashed)

(294188, 19388)

In [19]:
fnames_remove = set(downloaded) & set(trashed)

In [20]:
fnames_remove

{'364359fe8009b0eafc8c7698d136c85609507832',
 '48c17b8c7052dd982fec7893ad220f309311523e',
 '491d72f7e9c206d80afec8be4af247d2cee62b2d',
 '521cd5b023984b3dcd764aaf26e56a82e4bdf864',
 '6b3253676b0ac3b421e3b75138acf378edb867d4',
 '6d2fd1f6e66da4710074216d15f1f96fb1894355',
 'a02a1f32ccae0a118c17506ffad63bd7a31b84f3',
 'c82ed757f10fdfd53c28cb364e63bccf9947bef3',
 'f86363446716010bbad6138fe5ed767a36250441',
 'fce755ae86014651c8c3bf7061a7a0a6ca348460'}

In [21]:
for fname in fnames_remove:
    file = Path('newsdata/trashed/' + fname[:3] + '/' + fname + '.json')
    file.unlink()

In [29]:
', '.join([])

''